:root {
    --big-stone: #152536;
    --white: #fff;
    --smalt-blue: #4e958b;
    --maroon-flush: #c32361;
    --black: #000;
    --lite-grey: rgba(0, 0, 0, 0.2);
    --lite-big-stone: rgba(21, 37, 54, 0.7);
}

.card .thumb{
    margin: -7px;
}

article.card {
    width: 350px;
    height: 350px;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

article.card .thumb img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 3px;
}

article.card .infos {
    width: auto;
    height: 350px;
    position: relative;
    padding: 14px 24px;
    background: var(--white);
    transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}

article.card .infos .title {
    position: relative;
    margin: 10px 0;
    letter-spacing: 3px;
    color: var(--big-stone);
    font-family: "Grotesque Black", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-shadow: 0 0 lighten(var(--big-stone), 20);
}

article.card .infos .flag img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-30%);
    width: 50px;
    height: 40px;
    object-fit: cover;
    display: inline-block;
    mix-blend-mode: multiply;
}

article.card .infos .date,
article.card .infos .seats {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 0.85rem;
    color: var(--lite-big-stone);
    font-family: "Grotesque", sans-serif;
}

article.card .infos .seats {
    display: inline-block;
    margin-bottom: 0px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--lite-grey);
    opacity: 0;
    transition: 0.5s 0.25s;
}

article.card .infos .txt img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    padding: 3px;
    margin: 20px 0px;
}

article.card .infos .details {
 position: absolute;
 left: 50%;
 bottom: 25px;
 transform: translate(-50%);
 margin: auto;
 padding: 16px 100px;
 letter-spacing: 1px;
 color: white;
 font-family: "Grotesque Black", sans-serif;
 font-size: 0.9rem;
 text-transform: uppercase;
 cursor: pointer;
 opacity: 0;
 transition: 0.5s 0.25s;
 background-color: #37ff8b;
 border-radius: 25px;
}

article.card:hover .infos {
 transform: translateY(-264px);
}

article.card:hover .infos .seats,
article.card:hover .infos .txt,
article.card:hover .infos .details {
 opacity: 1;
}

@keyframes slide {
 from {
  transform: translateX(0);
 }

 to {
  transform: translateX(-100%);
 }
}

.logos {
 overflow: hidden;
 padding: 0px 0;
 background: transparent;
 white-space: nowrap;
 position: relative;
}

.logos:hover .logos-slide {
 animation-play-state: paused;
}

.logos-slide {
 display: inline-flex;
 justify-content: center;
 align-items: center;
 margin: auto;
 animation: 12s slide infinite linear;
}

.logos-slide article {
 margin: 20px;
}
#netflix{
 color: black !important;
}
.site-description{
 color: black !important;
}