
::-webkit-scrollbar {
 width: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
 background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: #37ff8b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #37ff8b;
}
body {
 font-family: "Poppins", sans-serif;
 /* background-color: black; */
 color: white;
 margin: 0px;
 padding: 0px;
 background-color: black;
 overflow-x: hidden;
}

* {
 -webkit-tap-highlight-color: transparent;
 /* border: 1px solid red; */
 box-sizing: border-box;
 margin: 0px;
 padding: 0px;
 scroll-behavior: smooth;
}
nav {
 background: transparent;
 color: rgb(255, 255, 255);
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-right: 30px;
}
nav .mainMenu {
 display: flex;
 list-style: none;
}

nav .mainMenu li a {
 display: inline-block;
 /* padding: 15px; */
 /* margin-right: 30px; */
 /* padding-left: 30px; */
 text-decoration: none;
 text-transform: uppercase;
 color: rgb(255, 255, 255);
 font-size: 18px;
 font-weight: bold;
 font-family: "Poppins", sans-serif;
 transition: 0.2s ease;
}
nav .mainMenu li a:hover {
 border-radius: 10px;
}
nav .openMenu {
 font-size: 2rem;
 margin: 20px;
 display: none;
 cursor: pointer;
}
nav .mainMenu .closeMenu,
.icons i {
 font-size: 2rem;
 display: none;
 cursor: pointer;
}
.fa-:hover {
 color: rgb(0, 110, 255);
}
.fa-codepen:hover {
 /* color: rgb(86, 154, 243); */
 color: black;
 background-color: white;
 border-radius: 100%;
}
.fa-instagram:hover {
 color: rgb(255, 0, 191);
}
.fa-github:hover {
 color: rgb(255, 123, 0);
}
nav .logo {
 margin: 20px;
 cursor: pointer;
 text-transform: uppercase;
}
@media (max-width: 803px) {
 nav .mainMenu {
  height: 80vh;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: rgb(0, 0, 0); */
  transition: top 1s ease 0s;
  display: none;

  /* From https://css.glass  <==========Experiment=========>*/
  background: rgba(0, 0, 0, 0.52);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
 }
 nav .mainMenu .closeMenu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
 }
 nav .openMenu {
  display: block;
 }
 nav .mainMenu li a:hover {
  background: none;
 }
 .icons i {
  display: inline-block;
  padding: 12px;
 }

 /* <==========SIR.ADARSH.===========> */
}
.button {
 margin: 0;
 cursor: pointer;
 height: auto;
 background: transparent;
 padding: 0;
 border: none;
}

/* button styling */
.button {
 --border-right: 6px;
 --text-stroke-color: rgba(255, 255, 255, 0.6);
 --animation-color: #37ff8b;
 --fs-size: 2em;
 letter-spacing: 3px;
 text-decoration: none;
 font-size: var(--fs-size);
 font-family: "Arial";
 position: relative;
 text-transform: uppercase;
 color: transparent;
 -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
 position: absolute;
 box-sizing: border-box;
 content: attr(data-text);
 color: var(--animation-color);
 width: 0%;
 inset: 0;
 border-right: var(--border-right) solid var(--animation-color);
 overflow: hidden;
 transition: 0.5s;
 -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
 width: 100%;
 filter: drop-shadow(0 0 23px var(--animation-color));
}

/* <=============Nav-Glitch-Button================> */
.nav-button,
.nav-button::after {
 letter-spacing: 2px;
 cursor: pointer;
 padding: 10px 25px;
 font-size: 20px;
 border: none;
 border-radius: 5px;
 color: white;
 background-color: transparent;
 position: relative;
}

.nav-button::after {
 --move1: inset(50% 50% 50% 50%);
 --move2: inset(31% 0 40% 0);
 --move3: inset(39% 0 15% 0);
 --move4: inset(45% 0 40% 0);
 --move5: inset(45% 0 6% 0);
 --move6: inset(14% 0 61% 0);
 clip-path: var(--move1);
 content: "---------";
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 display: block;
}

.nav-button:hover::after {
 animation: glitch_4011 1s;
 text-shadow: 10 10px 10px black;
 animation-timing-function: steps(2, end);
 text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #e94be8;
 background-color: transparent;
 border: 3px solid rgb(0, 255, 213);
}

.nav-button:hover {
 text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

.nav-button:hover {
 background-color: transparent;
 border: 1px solid #37ff8b;
 box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
 0% {
  clip-path: var(--move1);
  transform: translate(0px, -10px);
 }

 10% {
  clip-path: var(--move2);
  transform: translate(-10px, 10px);
 }

 20% {
  clip-path: var(--move3);
  transform: translate(10px, 0px);
 }

 30% {
  clip-path: var(--move4);
  transform: translate(-10px, 10px);
 }

 40% {
  clip-path: var(--move5);
  transform: translate(10px, -10px);
 }

 50% {
  clip-path: var(--move6);
  transform: translate(-10px, 10px);
 }

 60% {
  clip-path: var(--move1);
  transform: translate(10px, -10px);
 }

 70% {
  clip-path: var(--move3);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--move2);
  transform: translate(10px, -10px);
 }

 90% {
  clip-path: var(--move4);
  transform: translate(-10px, 10px);
 }

 100% {
  clip-path: var(--move1);
  transform: translate(0);
 }
}
/* <===========MAIN CONTENT============> */
.content {
 /* border: 1px solid red; */
 display: flex;
 flex-direction: row;
 width: auto;
 height: auto;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
}
#centered-text {
 width: 30%;
 font-size: 40px;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 /* justify-content: space-between; */
 /* align-items: center; */
 /* border: 3px solid palegoldenrod; */
 /* float: left; */
 margin-left: 50px;
 padding: 30px;
 /* height: 300px; */
}
.box {
 /* border: 1px solid red; */
 width: 500px;
 margin-right: 50px;
}
.circle {
 background: #37ff8b;
 width: auto;
 height: auto;
 border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
 overflow: hidden;
 animation: morph 3s linear infinite;
 filter: drop-shadow(0 0 2rem #37ff8b);
 outline: 1px solid #37ff8b;
}
.circle img {
 width: 500px;
 filter: grayscale(0.8) brightness(0.6) saturate(0);
 transition: opacity 0.5s ease-in-out;
}

@keyframes morph {
 0%,
 100% {
  border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
 }

 34% {
  border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
 }

 67% {
  border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
 }
}
#landing-pic {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 /* justify-content: end; */
 /* border: 3px solid palegoldenrod; */
 /* float: right; */
 /* padding: 30px; */
 margin-right: 50px;
 border-radius: 20px;
 transition: 0.2s ease-in-out;
}
#landing-pic:hover {
 border-radius: 20px;
 background: linear-gradient(145deg, #32e67d, #3bff95);
 box-shadow: 18px 18px 36px #219953, -18px -18px 36px #4dffc3;
}
@media (min-width: 803px) and (max-width: 1024px) {
 .circle img {
  width: 250px;
  height: 250px;
 }
 #landing-pic {
  width: 100%;
  /* float: right; */
 }
 .box {
  width: 40%;
 }
 #centered-text {
  width: 25%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* border: 3px solid palegoldenrod; */
  /* float: left; */
  margin-left: 40px;
  /* padding: 25px; */
  /* height: 300px; */
 }
 .nav-button,
 .nav-button::after {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
 }
}

@media (max-width: 802px) {
 #centered-text {
  text-align: center;
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* float: left; */
  margin: 30px auto;
  padding: 15px;
  /* height: 300px; */
 }
 #landing-pic {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* border: 3px solid palegoldenrod; */
  /* float: right; */
  /* padding: 30px; */
  margin: auto;
  border-radius: 20px;
 }
 .content {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  /* border: 3px solid red; */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
 }
 .box {
  margin: 0px auto 50px;
  width: 80%;
 }
 #dynamic-text {
  font-size: 35px;
 }
 .circle {
  margin: auto;
  width: 280px;
  height: auto;
 }
}
